---

---

<footer class="mt-auto py-4 text-center">
	<small
		>Copyright &copy; <span id="copyrighspan">Year</span> Acody | All rights reserved</small
	>
</footer>

<script>

const copyrightSpan = document.querySelector('#copyrighspan');

if (copyrightSpan) {
	 copyrightSpan.textContent = new Date().getFullYear().toString();
}
</script>

<style>
	a {
		opacity: 0.7;
		transition:
			opacity 0.5s ease-in-out,
			filter 0.5s ease-in-out;
	}

	a:hover {
		opacity: 1;
		filter: hue-rotate(90deg);
	}
</style>
