---
import Layout from '../layouts/Layout.astro';
---
<Layout
	title="###"
	seoTitle="###"
	seoDesc="###"
>
<div class="container mx-auto ">
   <div class="max-w-md mx-auto p-8 rounded">
      <div class="flex-none bg-neutral-800 p-4 rounded-md shadow-md mb-8">
         <h1 class="text-gray-50 text-3xl">Configuration de compte</h1>
       </div>
       <form action="#" method="post">
              <!-- Nom  du serveur -->
           <div class="mb-4">
            <label for="server" class="block text-gray-200 text-sm font-bold mb-2">Nom du serveur</label>
            <input id="server" name="server" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-teal-500 bg-neutral-700" placeholder="Votre server de communication" />
           </div>
        

           <!-- Nom d'utilisateur -->
           <div class="mb-4">
               <label for="username" class="block text-gray-200 text-sm font-bold mb-2">Nom d'utilisateur</label>
               <input type="text" id="username" name="username" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-teal-500 bg-neutral-700" placeholder="Votre nom d'utilisateur" />
           </div>

           <!-- Email -->
           <div class="mb-4">
               <label for="email" class="block text-gray-200 text-sm font-bold mb-2">Mot de passe</label>
               <input type="email" id="email" name="email" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-teal-500 bg-neutral-700" placeholder="Votre mot de passe" />
           </div>
         
           <!-- Bouton de sauvegarde -->
           <div class="mb-6">
               <button type="submit" class="w-full bg-teal-500 text-white p-3 rounded-md hover:bg-teal-7 00 focus:outline-none">Enregistrer les modifications</button>
           </div>
       </form>
   </div>
</div>


</Layout>